@*  @model  GPA_CALCULATOR.Models.Result;
<h1>Student GPA Calculator</h1>

<div>
    <form>
        <div>
            <label class="form-label"> Subjects</label>
            <input type="text" name="subject"  placeholder="name of subject" class="form-control" />
        </div>
        <div>
            <label class="form-label"> GradePoints</label>
            <input type="number" name="gradepoint" placeholder="input your gradepoint" class="form-control" />
        </div>
        <div>
            <label class="form-label"> CreditUnit</label>
            <input type="number" name="creditunit" placeholder="input your creditunit here" class="form-control" />
        </div>
        <button class="btn-primary" mx2 my2 >Submit</button>
    </form>
</div>
*@